body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #070439; }

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.5; }

.container-fluid {
  padding: 2% 4%; }

.title-content {
  padding-top: 3.5rem; }
  .title-content .title-text {
    align-self: center; }
  .title-content p {
    width: 560px; }

.title-image {
  width: 90%; }
