// Map Colors

$colors: (
  primary-dark-blue: hsl(243, 87%, 12%),
  primary-blue: hsl(238, 45%, 44%),
  accent-blue: hsl(224, 93%, 58%),
  accent-green: hsl(170, 45%, 43%),
  neurtral-gb: hsl(240, 75%, 98%),
  neutral-gray: hsl(0, 0%, 75%),
);

// Color function

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// styles

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: color(primary-dark-blue)
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.container-fluid {
  padding: 2% 4%;
}


// title page

.title-content {

  margin-top: 4%;
  margin-bottom: 8%;
  padding-top: 3.5rem;

  .title-text {
    align-self: center;
  }

  p {
    width: 560px;
  }

  .email-box {
    padding: 1.5% 20% 1.5% 2%;
    margin-right: 1.5%;

  }

  .big-btn {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.title-image {
  width: 90%;
}

.bg-curve {
  // width: 1440px;
  // padding-left: 0;
}

// content page

#content-page {
  background-color: color(neurtral-gb);
}
